*   {
    margin: 0;
    padding: 0;
}
body    {
    font-family: sans-serif;
}
.container  {
    max-width: 1140px;
    margin: 0 auto;
}
.heading    {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}
.text   {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}
.text_project   {
    width: 75%;
    margin: 0 auto;
    color: #222222;
    opacity: 1;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 64px;
}
.top    {
    height: 768px;
    width: 100vw;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.top__box   {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
    padding-left: 113px;
    padding-right: 113px;
}
.top__info  {
    padding-top: 115px;
    padding-left: 113px;
    background-image: url(images/top-background.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
    flex-grow: 1;
}
.top__heading   {
    width: 510px;
    font-size: 64px;
    color: #1f3f68;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}
.top__text  {
    width: 425px;
    height: 82px;
}
.top__button    {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}
.what-we-do {
    padding-top: 64px;
}
.card-box   {
    display: flex;
    justify-content: space-between;
    padding: 64px 20px;
}
.card   {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.card__img  {
    align-self: center;
    margin-bottom: 51px;
}
.heading-mini   {
    margin-top: 51.38px; /* почему-то если убрать, то только в третьей карточке заголовок становится кривым*/  
    margin-bottom: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
    letter-spacing: 0.05cm;
}
.card__link__box    {
    margin-top: 29.8px;
}
.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}
.main   {
    display: flex;
}
.project    {

}
.project__item  {
    position: relative;
    flex-grow: 1;
}
.project__item__margin  {
    margin-right: 32px;
}
.project__parent    {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.project__img   {
    width: 100%;
}
.project__text  {
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
}
.project__text__big {
    top: 64px;
    right: 64px;
    font-size: 32px;
    text-align: right;
}
.project__text__small   {
    font-size: 28px;
    text-align: left;
    top: 32px;
    left: 32px;
}
.footer {
    background: #316099;
    padding-top: 61px;
    padding-bottom: 64px;
    margin-top: 112px;
}
.footer__top    {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text   {
    width: 495px;
}
.footer__heading    {
    width: 340px;
    text-align: left;
    color: #FFF;
    margin-bottom: 32px;
}
.text__footer   {
    color: #FFFFFF;
}
.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04cm;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;
}
hr {
    opacity: 0.4;
}
.footer__info   {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.footer__list   {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05cm;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}
.footer__list:first-child::before   {
    content: '1.';
    display: block;
    margin-right: 16px;
}
.footer__list:nth-child(2)::before   {
    content: '3.';
    display: block;
    margin-right: 16px;
}
.footer__list:last-child::before   {
    content: '3.';
    display: block;
    margin-right: 16px;
}
.footer__copy   {
    margin-top: 64px;
}
.footer__copy-text  {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05cm;
    color: #FFFFFF;
    opacity: 0.4;
}

@media (max-width: 1024px) {
    .container  {
        padding-left: 32px;
        padding-right: 32px;
    }
    .top    {
        height: 768px;
        margin-top: 19px;
    }
    .top__info  {
        background-position: right 280px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .header {
        padding-left: 0px;
        padding-right: 0px;
    }
    .card-box   {
        flex-direction: column;
        padding-left: 215px;
        padding-right: 215px;
        align-items: center;
    }
    .card   {
        margin-bottom: 32px;
    }
    .footer__top    {
        padding-left: 93px;
        padding-right: 93px;
    }
    .footer__text   {
        width: 336px;
    }
    .footer__info   {
        flex-direction: column;
        align-items: left;
        padding-left: 93px;
    }
    .footer__button {
        padding: 3px 20px 10px;
    }
    .footer__list   {
        margin-bottom: 25px;
    }
    .footer__copy   {
        padding-left: 93px;
    }
}
@media (max-width: 667px) {
 .top {
    margin: 0;
    min-width: 100vw;
    height: 376px;
 } 
 .top__box  {
    padding: 16px 21px 16px 21px;
    align-items: center;
 }
 .header    {
     width: 100%;
     padding-top: 0;
     padding-left: 15px;
     padding-right: 15px;
 }
 .top__info {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    background-image: none;
    align-content: center;
 }
 .top__heading  {
    width: 100%;
    line-height: 37px;
    font-size: 32px;
    text-align: center;
    background-position: 0 0;
 }
 .top__text {
    width: 100%;
    text-align: center;
    padding-bottom: 12px;
 }
 .top__button   {
     margin-top: 32px; 
     align-self: center;
     font-size: 12px;
     line-height: 26px;
     padding: 0 8px;
     width: 108px;
 }
 .heading   {
    font-size: 24px;
    line-height: 28px;
 }
 .what-we-do    {
     padding-left: 0px;
     padding-right: 0px;
 }
 .card-box  {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
 }
 .card  {
     width: 100%;
     height: 448px;
     margin-bottom: 32px;
 }
 .card__img {
    margin-bottom: 20px;
}
.heading-mini  {
    margin-top: 0;
    margin-bottom: 14px;
}
.card__link__box    {
    margin-top: 10px;
}
.project__parent    {
    flex-direction: column;
    margin-top: 16px;
}
.project__item__margin  {
    margin-right: 0;
    margin-bottom: 16px;
}
.text_project   {
    width: 100%;
}
.project__text  {
    line-height: 19px;  
}
.project__text__big {
    top: 16px;
    right: 16px;
    font-size: 16px;
}
.project__text__small   {
    font-size: 16px;
    top: 16px;
    left: 16px;
}
.footer__top    {
    flex-direction: column;
    height: 310px;
}
.footer__heading    {
    text-align: center;
}
.text__footer {
    text-align: center;
}
.footer__button {
    margin-top: 40px;
}
.footer__info   {
    padding-left: 0;
    margin-right: 0;
}
.footer__list   {
    margin-right: 0;
}
.footer__copy   {
    padding-left: 0;
}
}